<mat-list>
  <mat-list-item role="listitem"> {{ user?.displayName }}</mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>face</mat-icon>
    <h4 mat-line>Réputation</h4>
    <p mat-line> {{ profil?.rank }} </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h3 mat-subheader>Médailles</h3>
  <mat-divider></mat-divider>
  <h3 mat-subheader>Privilèges</h3>
  <mat-list-item>
    <mat-icon mat-list-icon>control_point</mat-icon>
    <h4 mat-line>Créer un nouveau mot (50 points)</h4>
    <p mat-line>
      <mat-progress-bar mode="determinate" [value]="computePercentOf(0, 50)"></mat-progress-bar>
    </p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>edit_mode</mat-icon>
    <h4 mat-line>Éditer un mot (200 points)</h4>
    <p mat-line>
      <mat-progress-bar mode="determinate" [value]="computePercentOf(50, 200)"></mat-progress-bar>
    </p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>thumb_up</mat-icon>
    <h4 mat-line>Évaluer un mot (500 points)</h4>
    <p mat-line>
      <mat-progress-bar mode="determinate" [value]="computePercentOf(200, 500)"></mat-progress-bar>
    </p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>message</mat-icon>
    <h4 mat-line>Accès au chat (1000 points)</h4>
    <p mat-line>
      <mat-progress-bar mode="determinate" [value]="computePercentOf(500, 1000)"></mat-progress-bar>
    </p>
  </mat-list-item>
</mat-list>
