<div class="container">
  <mat-form-field>
    <textarea matInput placeholder="ana" [(ngModel)]="conjugaison.ana" (onModelChange)="changed()"></textarea>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="nta" [(ngModel)]="conjugaison.nta" (onModelChange)="changed()"></textarea>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="nti" [(ngModel)]="conjugaison.nti" (onModelChange)="changed()"></textarea>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="houa" [(ngModel)]="conjugaison.houa" (onModelChange)="changed()"></textarea>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="hia" [(ngModel)]="conjugaison.hia" (onModelChange)="changed()"></textarea>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="hna" [(ngModel)]="conjugaison.hna" (onModelChange)="changed()"></textarea>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="ntouma" [(ngModel)]="conjugaison.ntouma" (onModelChange)="changed()"></textarea>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="houma" [(ngModel)]="conjugaison.houma" (onModelChange)="changed()"></textarea>
  </mat-form-field>
</div>
