service cloud.firestore {
  match /databases/{database}/documents {
    match /words/{word} {
     allow read: if true;
     allow create: if rankGreaterThan(49);
     allow update: if rankGreaterThan(199);
     allow delete: if rankGreaterThan(1999);
    }
    match /users/{user} {
     allow read: if true;
    }
    match /words/{word}/votes/{vote} {
     allow read: if true;
     allow create: if vote == request.auth.uid && rankGreaterThan(499);
     allow update: if vote == request.auth.uid && rankGreaterThan(499);
    }
    function rankGreaterThan(value) {
    	return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.rank > value;
    }
  }
}
