<div class="main-container" [class.is-mobile]="mobileQuery.matches">
  <dar-header [nightMode]="nightMode" (openMenu)="snav.toggle()"></dar-header>
  <mat-toolbar *ngIf="!mobileQuery.matches"></mat-toolbar>

  <mat-sidenav-container class="side-nav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

    <mat-sidenav class="side-nav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <a *ngIf="(user$ | async)" [routerLink]="['/profil']" class="profil list-item" mat-list-item>
          <div class="profil-pic">
            <img src="{{(user$ | async)?.photoURL}}">
          </div>
          <div>
            &nbsp;{{(user$ | async)?.displayName}}
          </div>
        </a>
        <a *ngIf="!(user$ | async)" mat-list-item (click)="login()">Connexion</a>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Dictionnaire</h3>
        <a mat-list-item [routerLink]="['./words']">
          <mat-icon>search</mat-icon>Recherche de mots
        </a>
        <a mat-list-item>
          <mat-icon>history</mat-icon>Historique de mots
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <mat-divider></mat-divider>
        <a *ngIf="(user$ | async)" mat-list-item (click)="logout()">Se déconnecter</a>
        <mat-divider></mat-divider>
        <div mat-list-item class="list-item">
          <mat-slide-toggle [(ngModel)]="nightMode" (ngModelChange)="onSetNightMode($event)">
            Mode Nuit
          </mat-slide-toggle>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
