.main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.side-nav-container {
  flex: 1;
}

img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.profil {
  display: flex;
  align-items: center;
}

.profil-pic {
  display: flex;
  align-items: center;
}

.list-item {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 3px;
}

.side-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
