<div *ngIf="loading" class="spinner-container">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!loading" class="container" [formGroup]="wordForm">
  <mat-card class="container">
    <mat-form-field>
      <input matInput formControlName="french" placeholder="Français">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="darija" placeholder="Darija">
    </mat-form-field>
    <mat-radio-group formControlName="gender">
      <mat-radio-button value="M">Masculin</mat-radio-button>
      <mat-radio-button value="F">Feminin</mat-radio-button>
    </mat-radio-group>
    <mat-form-field *ngIf="wordForm.value.type !== 'VERB'">
      <input matInput formControlName="feminin" placeholder="Féminin (si applicable)">
    </mat-form-field>
    <mat-form-field *ngIf="wordForm.value.type !== 'VERB'">
      <input matInput formControlName="plural" placeholder="Pluriel">
    </mat-form-field>
    <mat-select formControlName="type" placeholder="type">
      <mat-option *ngFor="let type of wordTypes" [value]="type">
        {{ type | translate }}
      </mat-option>
    </mat-select>
    <mat-form-field *ngIf="wordForm.value.type === 'VERB'">
      <input matInput formControlName="racine" placeholder="Racine du verbe">
    </mat-form-field>
  </mat-card>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Exemples
        </mat-panel-title>
      </mat-expansion-panel-header>
      <dar-word-examples formControlName="examples"></dar-word-examples>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="wordForm.value.type === 'VERB'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Conjugaison - Présent
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button *ngIf="!wordForm.value.conjugaisonPresent.ana" mat-button color="primary" (click)="generatePresent()">Générer conjugaison présent automatique</button>
      <dar-conjugaison formControlName="conjugaisonPresent"></dar-conjugaison>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="wordForm.value.type === 'VERB'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Conjugaison - Passé
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button *ngIf="!wordForm.value.conjugaisonPast.ana" mat-button color="primary" (click)="generatePast()">Générer conjugaison passé automatique</button>
      <dar-conjugaison formControlName="conjugaisonPast"></dar-conjugaison>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="wordForm.value.type === 'VERB'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Conjugaison - Futur
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button *ngIf="!wordForm.value.conjugaisonFuture.ana" mat-button color="primary" (click)="generateFuture()">Générer conjugaison futur automatique</button>
      <dar-conjugaison formControlName="conjugaisonFuture"></dar-conjugaison>
    </mat-expansion-panel>
  </mat-accordion>

  <ng-container *ngIf="!creation">
    <mat-card *darIfAuth="499" class="non-editable">
      <dar-word-rank [votes]="votes$ | async" [wordId]="id" [userId]="(user$ | async)?.uid"></dar-word-rank>
    </mat-card>
  </ng-container>

  <mat-card *ngIf="!creation" class="non-editable">
    <ng-container *ngIf="!wordForm.value.createdBy">
      Mot créé lors de l'initialisation
    </ng-container>
    <ng-container *ngIf="wordForm.value.createdBy">
      Mot créé par {{ wordForm.value.createdBy?.username }}
    </ng-container>
    <ng-container *ngIf="wordForm.value.updatedBy">
      <br>Dernière modification par {{ wordForm.value.updatedBy?.username }}
    </ng-container>
  </mat-card>

  <div class="white-space"></div>

  <mat-card class="action-buttons">
    <button *ngIf="wordForm.pristine" mat-raised-button [routerLink]="['/words']">Retour</button>
    <button *ngIf="wordForm.dirty" mat-raised-button [routerLink]="['/words']">Annuler</button>
    <ng-container *ngIf="user$ | async">
      <ng-container *darIfAuth="199">
        <button *ngIf="!creation" mat-raised-button color="primary" (click)="update()">Enregister</button>
      </ng-container>
      <ng-container *darIfAuth="1999">
        <button *ngIf="!creation" mat-raised-button color="primary" (click)="delete()">Supprimer</button>
      </ng-container>
      <ng-container *darIfAuth="49">
        <button *ngIf="creation" mat-raised-button color="primary" (click)="create()">Ajouter</button>
      </ng-container>
    </ng-container>
  </mat-card>
</div>
