@import '~@angular/material/theming';
@include mat-core();

$light-primary: mat-palette($mat-green);
$light-accent:  mat-palette($mat-red, 500, 900, A100);
$light-warn:    mat-palette($mat-deep-orange);
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

$dark-primary: mat-palette($mat-red);
$dark-accent:  mat-palette($mat-green, 500, 900, A100);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

@include angular-material-theme($light-theme);

.light-theme {
  @include angular-material-theme($light-theme);
}

.dark-theme {
  @include angular-material-theme($dark-theme);
}
